@font-face {
	font-family: 'carbontype';
	src: url('carbontype-webfont.eot');
	src: url('carbontype-webfont.eot?#iefix') format('embedded-opentype'),
		url('carbontype-webfont.woff') format('woff'),
		url('carbontype-webfont.ttf') format('truetype'),
		url('carbontype-webfont.svg') format('svg');
}